<h1>Create a Proposal</h1>

<div>
	<form #proposalForm="ngForm">

		<div class="form-group">
			<label for="customer">Customer Name</label>
			<input 
				type="text"
				name="customer"
				id="customer"
				placeholder="Abc Company"
				required
				#customer='ngModel'
				[(ngModel)]="proposal.customer"
			>
			<div [hidden]="customer.valid || customer.pristine" >
				Customer name is required
			</div>
		</div>

		<div class="form-group">
			<label for="portfolio_url">Portfolio Url</label>
			<input 
				type="text"
				name="portfolio_url"
				id="portfolio_url"
				placeholder="Portfolio Url "
				required
				#portfolio_url='ngModel'
				[(ngModel)]="proposal.portfolio_url"
			>

			<div [hidden]="portfolio_url.valid || portfolio_url.pristine" >
				Portfolio Url is required
			</div>

		</div>

		<div class="form-group">
			<label for="tools">Tools that you will use on the project</label>
			<input 
				type="text"
				name="tools"
				id="tools"
				placeholder="Ruby on Rails, Angular, etc	"
				required
				#tools='ngModel'
				[(ngModel)]="proposal.tools"
			>
			<div [hidden]="tools.valid || tools.pristine" >
				Tools is required
			</div>
		</div>

		<div class="form-group">
			<label for="estimated_hours">estimated hours</label>
			<input 
				type="number"
				name="estimated_hours"
				id="estimated_hours"
				required
				#estimated_hours='ngModel'
				[(ngModel)]="proposal.estimated_hours"
			>
			<div [hidden]="estimated_hours.valid || estimated_hours.pristine" >
				estimated_hours is required
			</div>
		</div>

		<div class="form-group">
			<label for="hourly_rate">hourly rate</label>
			<input 
				type="number"
				name="hourly_rate"
				id="hourly_rate"
				required
				#hourly_rate='ngModel'
				[(ngModel)]="proposal.hourly_rate"
			>
			<div [hidden]="hourly_rate.valid || hourly_rate.pristine" >
				hourly_rate is required
			</div>
		</div>

		<div class="form-group">
			<label for="weeks_to_complete">weeks to complete</label>
			<input 
				type="number"
				name="weeks_to_complete"
				id="weeks_to_complete"
				required
				#weeks_to_complete='ngModel'
				[(ngModel)]="proposal.weeks_to_complete"
			>
			<div [hidden]="weeks_to_complete.valid || weeks_to_complete.pristine" >
				weeks_to_complete is required
			</div>
		</div>

		<div class="form-group">
			<label for="client_email">Client Email(optional)</label>
			<input 
				type="email"
				name="client_email"
				id="client_email"
				#client_email='ngModel'
				[(ngModel)]="proposal.client_email"
			>
		</div>



	</form>
</div>

<div>
	<table>
		<tr>Hi {{proposal.customer}},</tr>
		<tr>Habla, habla, habla {{proposal.tools}}</tr>
		<a href="{{proposal.portfolio_url}}">link here</a>
		<tr>{{proposal.estimated_hours}}</tr>
		<tr>{{ proposal.weeks_to_complete }}</tr>
		<tr>{{proposal.hourly_rate}}/hour</tr>
		<tr>{{proposal.hourly_rate * proposal.estimated_hours}}</tr>
	</table>
</div>